@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
.button10 {
  font-family: "Inter", sans-serif;
  color: aliceblue;
  position: relative;
  width: 240px;
  height: 120px;
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 0.25em 0.5em;
  outline: none;
  //border: 1px solid rgb(250,172,17);
  border-radius: 23px;
  //background: linear-gradient(to bottom, #a60000, rgb(255, 255, 255));
  box-shadow: 1px 1px 10px 0.5px rgb(213, 213, 213);
  transition: box-shadow 0.2s, border-color 0.2s;
}
.button10:hover {
  box-shadow: 1px 1px 10px 1px rgba(155, 155, 155, 0.3),
    inset 0 0 0 200px rgba(166, 165, 165, 0.24);

  //box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 200px rgba(255, 212, 3, 0.3);
}
.button10:active {
  padding: calc(0.25em + 1px) 0.5em calc(0.25em - 1px);
  border-color: rgb(0, 0, 0);
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1),
    inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 200px rgba(3, 83, 255, 0.27);
}
.button10 {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
.button10 p {
  color: aliceblue;
  //text-shadow: 1px 1px 1px black;
  margin: 0;
  //padding: 15px 0 0 15px;
  //font-size: 20pt;
  //letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  //font-family: -apple-system, BlinkMacSystemFont, "Roboto";
}
a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
.clBtn7 {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  //margin: 20px auto;
  cursor: pointer;
}
.clBtn7:before {
  content: "+";
  color: aliceblue;
  position: absolute;
  z-index: 999;
  transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -5px;
  left: 6px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.clBtn7:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #000000;
  z-index: 998;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}
.clBtn7:hover:after {
  transform: scale(1);
}
.clBtn7:hover:before {
  transform: scale(0.8) rotate(45deg);
  color: #fff;
}
.titleName {
  font-family: "Inter", sans-serif;
  font-size: 18pt;
  padding: 10px 0 0 15px;
  margin: 0;
  overflow-wrap: normal; /* не поддерживает IE, Firefox; является копией word-wrap */
  word-wrap: break-word;
  word-break: keep-all; /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
  line-break: strict; /* нет поддержки для русского языка */
  hyphens: none; /* значение auto не поддерживается Chrome */
  width: 100%;
  color: white;
  margin-bottom: 10px;
}
.tools span {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 12pt;
  padding: 10px 0 0 15px;
}
.tools {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //align-items: center;
  width: 570px;
  margin-bottom: 10px;
}
img {
  width: 40px;
  height: auto;
}
//
//
//<Grid item xs={12} md={3}>
//<div
// style={{
//  background: color,
//}}
//className={rr.button10}
//// onClick={handleHeaderClick}
//>
//<Link
// to={`/receive/${title}`}
//style={{
//  textDecoration: "none",
//  display: "flex",
//  flexDirection: "column",
//  justifyContent: "space-between",
//  width: "85%",
//}}
//>
//<p className={rr.titleName}>{title}</p>
//<span>{date}</span>
//</Link>
//<div
// style={{
//  display: "flex",
//  flexDirection: "column",
//  justifyContent: "space-between",
//  width: "15%",
//}}
//>
//<div onClick={handleButtonClick} className={rr.clBtn7}></div>
//<Link to={`/add-post/${id}/${title}`}>
//<SpeedDial
// ariaLabel="SpeedDial openIcon example"
//sx={{ position: "absolute", bottom: 10, right: 10 }}
//icon={<EditIcon />}
//></SpeedDial>
//</Link>
//</div>
//</div>
//</Grid>
